# Prerequisites
*.d
 
# Object files
*.o
*.obj
*.elf

# Temp Files
*.tmp

# Log files
*.log

# Linker output
*.ilk
*.map
*.exp

# TouchGFX simulator EXE
TouchGFX/build/bin/simulator.exe

# IAR Settings folder
EWARM/settings/